---
import Layout from '../layouts/Layout.astro';
import Site from '../components/App.jsx';
import { homeSeo } from '../lib/seo.js';

const seo = homeSeo('en');
---

<Layout title={seo.title} description={seo.description} lang={seo.lang} path={seo.path} jsonLd={seo.jsonLd}>
  <div id="root">
    <Site client:idle initialRoute="home" initialLang="en" />
  </div>
</Layout>
